*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 33, 30);
}

.slider-wrapper {
    position: absolute;
    top: 20vh;
    height: 70vh;
    width: 95vw;
    background-color: rgb(34, 33, 30);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    overflow: hidden;
}


.slider-drape{
    position: absolute;
    top: -25%;
    left: -25%;
    bottom: -25%;
    height: 200%;
    width: 200%;
    background-color: rgb(34, 33, 30);
    transform: rotateZ(18deg);
    z-index: 2;
}
.slider-drape--open{
    animation: drapeOpen 1s forwards;
}
.slider-drape--close{
    animation: drapeClose 2.1s forwards;
    background-color: rgb(34, 33, 30);
}
.slider-ul__container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.slider-image{
    position: absolute;
    z-index: 1;
    border: none;
    display: none;
    background-repeat: no-repeat;
    background-size: 50% ;
    background-position-y: bottom;
}
.slider-image--grow{
    display: block;
    animation: imageGrow 0.7s forwards;
}
.slider-image--reduce{
    animation: imageReduce 1s forwards;
}
.slider-ul {
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    line-height: 3.5rem;
}
.slider-li{
    list-style: none;
    font-size: 3.5rem;
    font-family: 'Vollkorn', serif;
    color: rgb(173, 169, 169);
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}
.slider-li:hover{
    color: white;
}

@keyframes drapeOpen {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
        transform: rotateZ(0deg);
    }
}
@keyframes drapeClose {
    0%{
        top: -105%;
        left: -205%;
    }
    100%{
        left: 0%;
        transform: rotateZ(0deg);
    }
}


@keyframes imageGrow {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
@keyframes imageReduce {
    0%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(0.8);
    }
}
@keyframes sliderExpand {
    0%{
        height: ;
        width: ;
    }
    100%{
        transform: scale(0.8);
    }
}

